// @use '@/app/_styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  // @media only screen and (max-width: $bp-laptop) {
  //   font-size: 50%;
  // }
}

body {
  box-sizing: border-box;
  font-family: $nunito;
  color: $espresso;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;

  padding: 6rem;
  line-height: 1;
}

.d-none {
  display: none !important;
}
